@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  /* background-image: url(/public/Img/dave.jpg); */
  /* background-position: center; */
  /* background-size: cover; */
  /* position: relative; */
}

/* ::selection {
  color: #ffffff;
  background: #a6fff286;
} */

.container {
  max-width: 450px;
  padding: 30px 0 50px;
  margin: 157px auto;
  backdrop-filter: blur(30px);
  border-radius: 25px;
  border: 1.5px solid #a3b399;
}

#task-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 52px;
  padding: 0 25px;
}

#task-input input {
  background-color: hsla(93, 22%, 76%, 0);
  height: 100%;
  width: calc(100% - 60px);
  outline: none;
  font-size: 18px;
  border-radius: 10px;
  padding: 0 0px 0 20px;
  border: 1px solid #a3b399;
  color: #fff8de;
}

#task-input input:focus,
#task-input input.active {
  border: 2px solid #99a98f;
}

#task-input input::placeholder {
  color: #99a98f;
}

#add-btn {
  border: none;
  outline: none;
  color: #fff8de;
  cursor: pointer;
  font-size: 18px;
  padding: 9.5px 15px;
  border-radius: 5px;
  letter-spacing: 0.3px;
  pointer-events: none;
  /* transition: transform 0.25s ease; */
  background: linear-gradient(135deg, #3c5d45 10%, #99a98f 100%);
}

.todo-form {
  padding: 25px 25px;
  border-bottom: 1px solid #99a98f;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todo-form .header {
  display: flex;
  align-items: center;
}
.todo-form .header span {
  margin: 0 8px;
  font-size: 17px;
  color: #000000;
  cursor: pointer;
}
.todo-form .clearBtn {
  border: none;
  outline: none;
  color: #fff8de;
  cursor: pointer;
  font-size: 13px;
  padding: 7px 13px;
  border-radius: 4px;
  letter-spacing: 0.3px;
  pointer-events: none;
  transition: transform 0.25s ease;
  background: linear-gradient(135deg, #3c5d45 10%, #99a98f 100%);
}

.header span.active {
  color: #7c9070;
}
.form span .active {
  color: #7c9070;
}
.header span:first-child {
  margin-left: 0;
}

.task {
  list-style: none;
  display: flex;
  align-items: flex-start;
  position: relative;
}

.task-box {
  /* border: 1px solid red; */
  margin: 25px 20px;
  border-bottom: 2.5px solid #85a389;
}

.task label {
  display: flex;
  align-items: center;
  font-size: 17px;
  margin-bottom: 16px;
  padding-bottom: 15px;
}

.task label input[type="checkbox"] {
  margin-right: 12px;
  width: 18px;
  height: 18px;
}

.task-box .task:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}

.task label p {
  user-select: none;
  word-wrap: break-word;
  /* color: #fff8de; */
}

.task-menu {
  height: 80px;
  list-style: none;
  z-index: 3;
  right: -50px;
  position: absolute;
  padding: 5px 0;
  border-radius: 10px;
  background: #edc6b1;
  transform-origin: top right;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.285);
  transition: transform 0.2s ease; 
}

.task-menu li {
  font-size: 16px;
  margin: 7px 15px;
  cursor: pointer;
  justify-content: flex-start;
}

.select {
  margin-left: auto;
  position: relative;
}

.select li i {
  padding-right: 8px;
}

.select :where(i, li) {
  /* color: #fff8de; */
  cursor: pointer;
}

.select li:hover {
  color: #edc6b1;
}

.task-box .task:last-child .task-menu {
  bottom: 0;
  transform-origin: bottom right;
}

.task-box .task:first-child .task-menu {
  top: 30px;
  transform-origin: top right;
}

.task-menu.show {
  transform: scale(1);
}

.task-menu li:last-child {
  margin-bottom: 0;
}

.active {
  opacity: 0.9;
  pointer-events: auto;
}

.clearBtn:active {
  transform: scale(0.93);
}

.task-box.overflow {
  overflow-y: auto;
  max-height: 300px;
}

.task-box::-webkit-scrollbar {
  width: 5px;
} 

.task-box::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 25px;
} 

.task-box::-webkit-scrollbar-thumb {
  background: #e6e6e6;
  border-radius: 25px;
} 

.task label p.checked {
  text-decoration: line-through;
}

.form {
  border: 1px solid red;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  margin: 0 30px;
  
} 

.form span {
  padding: 10px 10px;
  /* color: #fff8de; */
  cursor: pointer;
} 

footer {
  /* color: #7c9070; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer p {
  display: block;
  margin-block-start: 1em;
}

footer a {
  /* color: #fff8de89; */
  text-decoration: none;
}  
