@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

::selection {
  background: transparent;
}

[data-theme=theme-container] {
  --border: #8d9f82;
  --img: url(../Img/dave.jpg);
  --text: #edc6b1;
  --hover: #3c5d45e0;
}

[data-theme=canada] {
  --img: url(../Img/canad.jpg);
  --border: #537EC5;
  --text: #F6E9E9;
  --hover: #010038;
}

[data-theme=Snow] {
  --border: #1b3246;
  --img: url(../Img/mountains.jpg);
  --text: #f2dede;
  --hover: #905353;
}

[data-theme=jungl] {
  --border: #040D12;
  --img: url(../Img/unsplash.jpg);
  --text: #93B1A6;
  --hover: #183D3D;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: var(--img);
  background-position: center;
  background-size: cover;
  position: relative;
}

.container {
  max-width: 450px;
  padding: 30px 0 50px;
  margin: 157px auto;
  backdrop-filter: blur(30px);
  border-radius: 25px;
  border: 1.5px solid var(--hover);
}

#task-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 52px;
  padding: 0 25px;
}

#task-input input {
  background-color: hsla(93, 22%, 76%, 0);
  height: 100%;
  width: calc(100% - 60px);
  outline: none;
  font-size: 18px;
  border-radius: 10px;
  padding: 0 0px 0 20px;
  border: 1px solid var(--hover);
  color: var(--text);
}

#task-input input:focus,
#task-input input.active {
  border: 2px solid var(--border);
}

#task-input input::placeholder {
  color: var(--border);
}

#add-btn {
  border: none;
  outline: none;
  color: #fff8de;
  cursor: pointer;
  font-size: 18px;
  padding: 9.5px 15px;
  border-radius: 5px;
  letter-spacing: 0.3px;
  /* pointer-events: none; */
  background: linear-gradient(135deg, var(--hover) 10%, var(--border) 100%);
}

.todo-form {
  padding: 25px 25px;
  border-bottom: 1px solid var(--hover);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
}
.header span {
  margin: 0 8px;
  font-size: 17px;
  color: var(--text);
  cursor: pointer;
}

.header span.active {
  color: var(--border);
}
.form span .active {
  color: var(--border);
}
.header span:first-child {
  margin-left: 0;
}

#clearBtn {
  border: none;
  outline: none;
  color: #fff8de;
  cursor: pointer;
  font-size: 13px;
  padding: 7px 13px;
  border-radius: 4px;
  letter-spacing: 0.3px;
  /* pointer-events: none; */
  transition: transform 0.25s ease;
  background: linear-gradient(135deg, var(--hover) 10%, var(--border) 100%);
}

.task {
  list-style: none;
  display: flex;
  margin: 15px 25px;
  /* align-items: flex-start; */
  position: relative;
  border-bottom: 1px solid var(--hover);
}

.task-box {
  text-align: center;
  border-bottom: 1.5px solid var(--hover);
}

.task-box {
  overflow: auto;
  max-height: 330px;
}

.task-box::-webkit-scrollbar {
  width: 6px;
}

.task-box::-webkit-scrollbar-track {
  background: var(--border);
  border-radius: 55px;
}

.task-box::-webkit-scrollbar-thumb {
  background: #edc6b189;
  border-radius: 55px;
}

.task label {
  display: flex;
  align-items: center;
  font-size: 17px;
  margin-bottom: 5px;
  padding-bottom: 15px;
}

.task input[type="checkbox"] {
  margin-left: 10px; 
  width: 18px;
  height: 18px;
}

.task-box .task:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}

.task p {
  margin-left: 25px; 
  user-select: none;
  word-wrap: break-word;
  color: var(--text);
}

.task-menu {
  display: none;
  list-style: none;
  position: absolute;
  height: 80px;
  right: -10px;
  z-index: 3;
  padding: 5px 0;
  border-radius: 10px;
  background: var(--text);
  transform-origin: top right;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.285);
  transition: transform 0.2s ease;
}

.task-menu li {
  font-size: 16px;
  margin: 7px 15px;
  cursor: pointer;
  justify-content: flex-start;
}

.task-menu.show-menu {
  display: block;
}

.task-menu li:hover {
  color: var(--hover);
}

.select {
  margin-left: auto;
  position: relative;
}

.select li i {
  padding-right: 8px;
}

.select :where(i, li) {
  color: var(--text);
  cursor: pointer;
}

.task:last-child .task-menu {
  bottom: 0;
  transform-origin: bottom right;
}

.task:first-child .task-menu {
  top: 30px;
  transform-origin: top right;
}

.task-menu li:last-child {
  margin-bottom: 0;
}

.active {
  opacity: 0.9;
  pointer-events: auto;
}

.task label p.checked {
  text-decoration: line-through;
}

.form {
  display: flex;
  align-items: center;
  margin: 0 30px;
}

.form span {
  padding: 10px 10px;
  color: var(--text);
  cursor: pointer;
}

footer {
  color: var(--hover);
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer p {
  display: block;
  margin-block-start: 1em;
}

footer a {
  color: #fff8de89;
  text-decoration: none;
}

#themeBtn {
  border: none;
  background-color: #3c5d4500;
  cursor: pointer;
  color: var(--hover);
}
