@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: url(/public/Img/dave.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

::selection {
  color: #ffffff;
  background: #a6fff286;
}

.container {
  max-width: 440px;
  padding: 30px 0 15px;
  margin: 157px auto;
  backdrop-filter: blur(30px);
  border-radius: 25px;
  border: 1.5px solid #a3b399;
}

.task-input {
  height: 52px;
  padding: 0 25px;
  position: relative;
}

.task-input input {
  background-color: hsla(93, 22%, 76%, 0);
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 18px;
  border-radius: 10px;
  padding: 0 0px 0 20px;
  border: 1px solid #a3b399;
  color: #fff8de;
}

.task-input input:focus,
.task-input input.active {
  border: 2px solid #99a98f;
}

.task-input input::placeholder {
  color: #99a98f;
}

.controls,
li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.controls {
  padding: 18px 25px;
  border-bottom: 1px solid #99a98f;
}

.header span {
  margin: 0 8px;
  font-size: 17px;
  color: #fff8de;
  cursor: pointer;
}

.header span:first-child {
  margin-left: 0;
}

.header span.active {
  color: #7c9070;
}

.form {
  margin: 0 20px ;
}

.form span{
  padding: 10px 10px;
  font-size: 16px;
  color: #fff8de;
  cursor: pointer;
}

.form span .active {
  color: #7c9070;
}
footer{
  color: #7c9070;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

footer p {
  display: block;
  margin-block-start: 1em;
}

footer a{
  color: #fff8de89;
  text-decoration:none;
}

.clearBtn {
  border: none;
  opacity: 0.6;
  outline: none;
  color: #fff8de;
  cursor: pointer;
  font-size: 13px;
  padding: 7px 13px;
  border-radius: 4px;
  letter-spacing: 0.3px;
  pointer-events: none;
  transition: transform 0.25s ease;
  background: linear-gradient(135deg, #3c5d45 10%, #99a98f 100%);
}

.active {
  opacity: 0.9;
  pointer-events: auto;
}

.clearBtn:active {
  transform: scale(0.93);
}

.task-box {
  margin-top: 20px;
  margin-right: 5px;
  padding: 0 20px 10px 25px;
  color: #fff8de;
  /* border-bottom: 1px solid #99a98f; */
}

.task-box.overflow {
  overflow-y: auto;
  max-height: 300px;
}

.task-box::-webkit-scrollbar {
  width: 5px;
}

.task-box::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 25px;
}

.task-box::-webkit-scrollbar-thumb {
  background: #e6e6e6;
  border-radius: 25px;
}

.task-box .task {
  list-style: none;
  font-size: 17px;
  margin-bottom: 18px;
  padding-bottom: 16px;
  align-items: flex-start;
  border-bottom: 1.5px solid #85a389;
}

.task-box .task:last-child {
  margin-bottom: 0;
  border-bottom: 0;
  padding-bottom: 0;
}

.task-box .task label {
  display: flex;
  align-items: flex-start;
}

.task label input {
  margin-top: 7px;
  accent-color: #85a389;
}

.task label p {
  user-select: none;
  margin-left: 12px;
  word-wrap: break-word;
  color: #fff8de;
}

.task label p.checked {
  text-decoration: line-through;
}

.select {
  position: relative;
}

.select :where(i, li) {
  color: #fff8de;
  cursor: pointer;
}

.task-menu {
  z-index: 10;
  right: -5px;
  bottom: -65px;
  padding: 5px 0;
  background: #b7b7b78c;
  position: absolute;
  border-radius: 4px;
  transform: scale(0);
  transform-origin: top right;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.285);
  transition: transform 0.2s ease;
}

.task-box .task:last-child .task-menu {
  bottom: 0;
  transform-origin: bottom right;
}

.task-box .task:first-child .task-menu {
  bottom: -65px;
  transform-origin: top right;
}

.task-menu.show {
  transform: scale(1);
}

.task-menu li {
  height: 25px;
  font-size: 16px;
  margin-bottom: 2px;
  padding: 17px 15px;
  cursor: pointer;
  justify-content: flex-start;
}

.task-menu li:last-child {
  margin-bottom: 0;
}

.select li:hover {
  color: #edc6b1;
}

.select li i {
  padding-right: 8px;
}

@media (max-width: 400px) {
  body {
    padding: 0 10px;
  }

  .container {
    padding: 20px 0;
  }

  .header span {
    margin: 0 5px;
  }

  .task-input {
    padding: 0 20px;
  }

  .controls {
    padding: 18px 20px;
  }

  .task-box {
    margin-top: 20px;
    margin-right: 5px;
    padding: 0 15px 10px 20px;
  }

  .task label input {
    margin-top: 4px;
  }
}
